@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans+Condensed:wght@200&family=Josefin+Sans:ital,wght@1,300&family=Luxurious+Roman&family=Nerko+One&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100;300&family=Sansita+Swashed&display=swap');
.pay{
  width: 1600px;
  height: 800px;
  margin-left: 100px;
  background-color:gray;
  margin-top: 50px;
  &>button{
    position: absolute;
    width: 120.02px;
    height: 35px;
    margin-top: 690px;
    margin-left: 80px;
    box-shadow:inset 0 0 0 0 gold;
    transition: all 0.8s ease;
  }
  &>button:hover{
    box-shadow:inset 300px 0 0 0 gold;
  }
  &>h2{
    position: absolute;
    left: 0px;
    width: 752px;
    height: 77px;
    font-size: 40px;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
  &__googlemap{
    height: 50px;
    position:absolute;
    &>iframe{
      width: 952px;
      height: 250px;
      margin-top: 100px;
      margin-left: 65px;
    }
  }
  &__address{
    display: flex;
    align-items: center;
    margin-top: 380px;
    position: absolute;
    margin-left: 70px;
    &>input{
      width: 906px;
      height: 37px;
      padding-left: 30px;
      outline: none;
      border: 2px solid gray;
    }
    &>li{
      position: absolute;
      margin-left: 10px;
      margin-top: 2px;
    }
  }
  &__call{
    display: flex;
    align-items: center;
    margin-top: 430px;
    position: absolute;
    margin-left: 70px;
    &-one{
      display: flex;
      align-items: center;
      &>input{
        width: 420px;
        height: 37px;
        padding-left: 31px;
        outline: none;
        border: 2px solid gray;
      }
      &>li{
        position: absolute;
        margin-left: 10px;
        margin-top: 2px;
      }
    }
    &-two{
      display: flex;
      align-items: center;
      margin-left: 20px;
      &>input{
        width: 420px;
        height: 37px;
        padding-left: 31px;
        outline: none;
        border: 2px solid gray;
        padding-top: 1px;
      }
      &>li{
        position: absolute;
        margin-left: 10px;
        margin-top: 4px;
      }
    }
  }
  &__note{
    display: flex;
    align-items:center;
    margin-top: 480px;
    position:absolute;
    margin-left: 70px;
    &>input{
      width: 906px;
      height: 37px;
      padding-left: 30px;
      outline: none;
      border: 2px solid gray;
      padding-top: 1px;
    }
  }
  &__icons{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 600px;
    margin-left: 110px;
    font-size: 30px;
  }
}








