@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luxurious+Roman&family=Nerko+One&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100;300&family=Sansita+Swashed&display=swap');
.account{
  width: 500px;
  height: 500px;
  background-color: brown;
  margin-left: 700px;
  margin-top: 190px;
  display: flex;
  &__signin{
    margin-top: 10px;
    &>h3{
      font-size: 40px;
      position: absolute;
      top: 160px;
      margin-left: 50px;
      color: green;
      font-family: 'Nerko One', cursive;
    }
    .email{
      position: absolute;
      margin-top: 100px;
      margin-left: 8px;
    }
    .name{
      position: absolute;
      margin-left: 7px;
    }
    &>input{
      width: 380px;
      height: 40px;
      position: absolute;
      left: 750px;
      padding-left: 12px; 
      margin-top: 50px;
    }
    &-item{
      position: absolute;
      display: flex;
      align-items: center;
      margin-top: 150px;
      margin-left: 25px;
      &>input{
        width: 380px;
        height: 40px;
        padding-left: 10px;
        margin-left: 24px;
      }
      &>li{
        position: absolute;
        font-size: 25px;
        margin-left: 340px;
        margin-top: 3px;
      }
    }
    &>button{
      position: absolute;
      width: 300px;
      height: 40px;
      font-size: 20px;
      font-family: 'Nerko One', cursive;
      margin-top: 250px;
      margin-left: 95px;
    }
  }
}